 /*  feuille de style version 1 du site projet Ruche     	*/
 /*  Auteur Philippe SIMIER  Juillet 2018               	*/
 /*  											          	*/
 
 

 /* Definition du corps de la page                          */

body {
background-image: url(/images/fond.svg);
    background-repeat: repeat-x;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-position: 0 100%;
    background-position-x: 0px;
    background-position-y: 100%;
    -webkit-background-size: auto 230px;
    background-size: auto 230px;
    background-attachment: fixed;
}

.popin {
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0 0 20px #999;
		padding: 10px;
		margin: 10px;

}

/* page centrée largeur 1024  fond blanc*/
#page {
        Background-Color: #FFF;
        margin: 0 auto;
        padding: 0;
		width: 1098px;
        border-color:#323232 #323232 #323232;
        border-style:solid;
        border-width:1px 1px 1px;
		text-align: left;
 }

/* la div id contenu  */
#contenu {
    margin-top: 5px;
    min-height: 400px;
 }

#pied {

	background:#000000 none repeat scroll 0 0;
	border-top:1px dotted #CCCCCC;
	clear:both;
	color: #FFFFFF;
	margin-top:1em;
	padding:20px;
	text-align:center;
}

#pied small {
	color:#FFFFFF;
	font-size:12px;
}

#pied a {
	color:#FFFFFF;
}



/* Definition de la classe paragraphe pour les notes de bas de page */
p.note       {
font-family: Gill Sans MT;
font-size: 10pt;
color: #FFFFFF;
text-align:center
}

/* Definition de la classe paragraphe pour les infos bulles */
p.info      {
font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
font-size: 10pt;
color: #000;
margin-left: 10px;
}


ul{
	padding-left: 0px;
}	

div.item {
        font-family:"Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
        font-size:12pt;
        color: #000000;
        border-radius: .3rem;
        background-color:#F0F0F0;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 10px;
        margin-bottom: 10px;
}

		
div#auth {
    background-color:#E0E0E0;
    padding:10px;
    max-width: 400px;
	margin: 0 auto;
		 
}

.focus { /***pour les formulaires à l'utilisation fond bleu clair***/
	background: #90E1FF;
	border:1px solid #999999;
	border-radius: 5px;
	color: black;
	
	
}
.normal {	/***pour les formulaires retour à l'état normal après l'utilisation ***/
	background: white;
	border:1px solid #999999;
	border-radius: 5px;
	color: black;
	

}
.erreur { /***champ formulaire en erreur***/
	background:red;
}


